/////////////////////
//// DEFAULT STYLES
/////////////////////

body {
  margin: 0px;
  padding: 0px;
  font-family: $main-font;
  font-size: $font-size;
  color: $brand-color-black;
  line-height: $line-height;
  background: $brand-color-pink;
}
