///////////////////////////////
//// FOOTER COMPONENT STYLES
///////////////////////////////

.footer--list {
  background: $brand-color-pink;
  width: 100%;
  margin: 0;
  padding: 8px 0px 8px 0px;
  color: $brand-color-white;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.footer--list ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer--list li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.footer--list img {
  width: 40px;
}

.footer--list a {
  color: $brand-color-white;
  text-decoration: none;
}
