///////////////////////////////
//// FOOTER COMPONENT STYLES
///////////////////////////////

.footer--container {
  background: $brand-color-pink;
  width: 100%;
  margin: 0;
  padding: 8px 0px 8px 0px;
  color: $brand-color-white;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.footer {
  margin: 0px 16px;
}

.footer span:last-child {
  float: right;
}

.footer a {
  color: $brand-color-white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: normal;
}

.footer a:hover {
  color: $brand-color-lightgreen;
}
