/////////////////////////////
//// LOGIN COMPONENT STYLES
/////////////////////////////

.login--container {
  background: $brand-color-lightpink;
  padding: 24px 16px;
}

.search {
  background: $brand-color-white;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $brand-color-black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.search--header {
  padding: 30px 0px;
  margin: 0px 0px 16px 0px;
  background: $brand-color-green;
  border-radius: 5px 5px 0 0;
  color: $brand-color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;

  .authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;

    padding: 20px 30px;
  }

  .authButtons {
    padding: 0px 0px 20px 0px;
  }

  h2 {
    color: $brand-color-green;
    border-bottom: 1px solid $brand-color-lightgray;
    font-weight: lighter;
    font-size: 2em;
    margin: 0px 0px 20px 0px;
    padding: 10px 10px 20px 10px;
  }

  a {
    cursor: pointer;
    display: block;
    text-align: center;

    color: $brand-color-white;
    font-size: 1.1em;
    text-decoration: none;

    background-color: $brand-color-green;
    border: 1px solid transparent;
    border-radius: 10px;

    width: 250px;
    margin: 20px 0px;
    padding: 10px 20px;
  }
}
