//////////////////////
//// SEARCH STYLES
//////////////////////

.search--container {
  background: $brand-color-lightpink;
  padding: 24px 16px;
}

.search {
  background: $brand-color-white;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $brand-color-black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.search--header {
  padding: 30px 0px;
  margin: 0px 0px 16px 0px;
  background: $brand-color-green;
  border-radius: 5px 5px 0 0;
  color: $brand-color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search--form {
  margin: 0 auto;
  padding: 0;
  width: 94%;
}

.search--input {
  margin: 0 auto;
  padding: 8px 0px;
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 3px solid $brand-color-lightgray;
  background: $brand-color-white;
  resize: none;
  font-size: 16px;
  display: block;
  outline: 0;
  &:focus {
    border-bottom-color: $brand-color-lightgreen;
  }
}

.search--input:focus {
  outline: 0;
}

.search--form--submit-button {
  font-size: $font-size;
  width: 100%;
  margin: 16px 0px;
  padding: 8px;
  background: $brand-color-green;
  border: 0px solid $brand-color-pink;
  border-radius: 5px;
  font-weight: bold;
  font-family: $main-font;
  cursor: pointer;
  font-size: $font-size;
  color: $brand-color-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search--form--submit-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search--form--submit-button:focus {
  outline: 0;
}

//////////////////////////////////////////////
// Search results section
//////////////////////////////////////////////

.searchresults--container {
  background: $brand-color-lightpink;
  padding: 0.1px 16px;
  margin: 0;
}

.searchresults {
  margin: 0;
  background: $brand-color-lightpink;
  padding: 0px 32px;
}

.search--list {
  list-style: none;
  background: $brand-color-lightpink;
  padding: 0;
  margin: 0;
}

.search--list-item {
  text-align: left;
  background: $brand-color-white;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search--list-item:last-child {
  margin: 0px 0px 24px 0px;
}

.search--list-item a {
  text-decoration: none;
}

.search--avatar {
  float: left;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: $brand-color-black;
  display: block;
  margin-right: 16px;
}

.search--username {
  color: $brand-color-green;
  font-weight: bold;
  transition: color 0.25s ease-in-out;
}

.search--username:hover {
  color: $brand-color-pink;
}
