body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3e403f;
  line-height: 22px;
  background: #ffffff;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
}

.column-1 {
  width: 8.33333%;
  display: inline-block;
}

.column-2 {
  width: 16.66667%;
  display: inline-block;
}

.column-3 {
  width: 25%;
  display: inline-block;
}

.column-4 {
  width: 33.33333%;
  display: inline-block;
}

.column-5 {
  width: 41.66667%;
  display: inline-block;
}

.column-6 {
  width: 50%;
  display: inline-block;
}

.column-7 {
  width: 58.33333%;
  display: inline-block;
}

.column-8 {
  width: 66.66667%;
  display: inline-block;
}

.column-9 {
  width: 75%;
  display: inline-block;
}

.column-10 {
  width: 83.33333%;
  display: inline-block;
}

.column-11 {
  width: 91.66667%;
  display: inline-block;
}

.column-12 {
  width: 100%;
  display: inline-block;
}

.navbar {
  background: #3e403f;
  width: 100%;
  margin: 0;
  padding: 10px 0px 5px 0px;
}

.navbar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 40px;
}

.navbar--selected {
  filter: brightness(2);
}

.profile {
  position: relative;
  border-bottom: 10px solid #3e403f;
}

.profile--background {
  height: 125px;
  background: #ffffff;
  background-image: linear-gradient(-225deg, #e3fdf5 50%, #ffe6fa 50%);
}

.profile--avatar {
  position: absolute;
  margin: -50px 0 0 3%;
  border: solid #ffffff 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #3e403f;
}

.profile--button--edit-profile {
  font-size: 16px;
  float: right;
  margin: 10px 3% 0px 0px;
  padding: 10px 25px;
  background: #b8f2e6;
  border: 0px solid #3e403f;
  color: #3e403f;
  border-radius: 5px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.profile--button--edit-profile:focus {
  outline: 0;
}

.profile--container--bottom-half {
  padding: 60px 3% 10px 3%;
  background: #ffffff;
}

.profile--name {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.profile--username {
  font-size: 19.2px;
  line-height: 26.4px;
  float: left;
  width: 50%;
}

.profile--location {
  font-size: 19.2px;
  line-height: 26.4px;
  float: right;
  width: 50%;
  text-align: right;
}

.profile--about {
  padding: 30px 0px 10px 0px;
}

.profile--stats {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.profile--stats li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.profile--stats-name {
  font-size: 17.6px;
  line-height: 24.2px;
  display: block;
  font-weight: bold;
}

.profile--stats-number a {
  font-weight: normal;
  text-decoration: none;
  color: #3e403f;
}

.editprofile--form {
  background: linear-gradient(-225deg, #e3fdf5 50%, #ffe6fa 50%);
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #3e403f;
}

.editprofile {
  margin: 0px;
  padding: 30px 0px 30px 0px;
}

.editprofile--form label {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.editprofile--form label input {
  margin: 0 auto;
  padding: 10px 3%;
  width: 88%;
  height: auto;
  border: 0px solid #3e403f;
  border-radius: 5px;
  background: #ffffff;
  resize: none;
  font-size: 16px;
  display: block;
}

.editprofile--form label input:focus {
  outline: 0;
}

.editprofile--form--save {
  font-size: 16px;
  width: 94%;
  margin: 20px 0px 20px 0px;
  padding: 10px 25px;
  background: #b8f2e6;
  border: 0px solid #3e403f;
  color: #3e403f;
  border-radius: 5px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.feed--list {
  list-style: none;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.feed--list-item {
  background: #e3fdf5;
  border-bottom: 2px solid #ffffff;
  padding: 10px 3%;
}

.feed--list-item:nth-child(even) {
  background: #ffe6fa;
}

.feed--avatar {
  float: left;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #3e403f;
  display: block;
  margin-right: 3%;
  margin-top: 10px;
}

.feed--user {
  font-size: 14.4px;
  line-height: 19.8px;
}

.feed--username {
  font-size: 17.6px;
  line-height: 24.2px;
  font-weight: bold;
}

.feed--date {
  color: #3e403f;
}

.feed--message {
  word-wrap: break-word;
}

.feed--list-item--actions {
  padding-top: 10px;
  text-align: left;
  list-style: none;
  padding: 10px 0 0 60px;
  margin: 0;
}

.feed--list-item--actions li {
  display: inline-block;
  padding-right: 10px;
  min-width: 65px;
}

.feed--list-item--actions img {
  width: 20px;
  padding-right: 5px;
}

.feed--list-item--actions span {
  display: inline-block;
}

.search--container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search--input {
  width: 80%;
  margin: 25px auto;
  background-color: #f5f8fa;
  border-radius: 4px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all 0.2s ease-in-out;
}

.search--input:focus {
  outline: none;
  border: 2px solid #b8f2e6;
}

.search--container img {
  position: absolute;
  top: 23%;
  z-index: 1;
  width: 18px;
  right: 20%;
}

.searchResults--list li {
  display: inline;
  margin: 0 5px;
  padding: 7px;
  font-size: 13px;
}

.searchResults--outerContainer {
  border: 1px solid #e6e6e6;
  box-shadow: 3px 3px 7px -1px #e8e6e6;
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
}

.searchResults--container {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding: 9px;
  margin: 0 auto;
}

.searchResults--container:hover {
  background-color: #f9fefd;
}

.searchResults--container .avatar {
  width: 21px;
  border: 1px solid #e8e2e2;
  border-radius: 19px;
  padding: 7px;
}

.searchResults--list .name {
  font-weight: 800;
}

.searchResults--list .name:hover {
  color: #8dead7;
}

.searchResults--list .handle {
  color: grey;
}

.scoop {
  background: linear-gradient(-225deg, #e3fdf5 50%, #ffe6fa 50%);
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #3e403f;
}

.scoop h1 {
  margin: 0;
  padding: 30px 0px 30px 0px;
}

.scoop--textarea {
  margin: 0;
  padding: 10px 3%;
  width: 94%;
  height: 100px;
  border: 0px solid #3e403f;
  border-radius: 5px;
  background: #ffffff;
  resize: none;
  font-size: 16px;
}

.scoop--textarea:focus {
  outline: 0;
}

.scoop--form {
  margin: 0 auto;
  padding: 0;
  width: 94%;
}

.scoop--form--submit-button {
  font-size: 14px;
  width: 100%;
  margin: 15px 0px 30px 0px;
  padding: 10px;
  background: #b8f2e6;
  border: 0px solid #3e403f;
  border-radius: 5px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  color: #3e403f;
}

.scoop--form--submit-button:focus {
  outline: 0;
}

.footer--list {
  background: #3e403f;
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  text-align: center;
}

.footer--list ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer--list li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.footer--list img {
  width: 40px;
}

.footer--list a {
  color: #ffe6fa;
  text-decoration: none;
}
