.container {
  width: auto;
  margin: 0 auto;
  position: relative;
}

.column-1 {
  width: 8.33333%;
  display: inline-block;
}

.column-2 {
  width: 16.66667%;
  display: inline-block;
}

.column-3 {
  width: 25%;
  display: inline-block;
}

.column-4 {
  width: 33.33333%;
  display: inline-block;
}

.column-5 {
  width: 41.66667%;
  display: inline-block;
}

.column-6 {
  width: 50%;
  display: inline-block;
}

.column-7 {
  width: 58.33333%;
  display: inline-block;
}

.column-8 {
  width: 66.66667%;
  display: inline-block;
}

.column-9 {
  width: 75%;
  display: inline-block;
}

.column-10 {
  width: 83.33333%;
  display: inline-block;
}

.column-11 {
  width: 91.66667%;
  display: inline-block;
}

.column-12 {
  width: 100%;
  display: inline-block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 22px;
  background: #e59eb4;
}

.navbar {
  background: #00c8cd;
  width: 100%;
  margin: 0;
  padding: 10px 0px 5px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 40px;
  filter: brightness(1.45);
}

.navbar--selected {
  filter: brightness(2);
}

.footer--container {
  background: #e59eb4;
  width: 100%;
  margin: 0;
  padding: 8px 0px 8px 0px;
  color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.footer {
  margin: 0px 16px;
}

.footer span:last-child {
  float: right;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: normal;
}

.footer a:hover {
  color: #9edfe2;
}

.profile--container {
  background: #ffbacf;
  padding: 24px 16px;
}

.profile {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.profile--header {
  margin: 0;
  padding: 0;
  height: 82px;
  background: #00c8cd;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile--avatar {
  position: absolute;
  margin: -52px 0 0 14px;
  border: solid #ffffff 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #222;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile--button--edit-profile {
  font-size: 16px;
  float: right;
  margin: 16px;
  background: none;
  border: none;
  color: #00c8cd;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.profile--button--edit-profile:hover {
  color: #e59eb4;
}

.profile--button--edit-profile:focus {
  outline: 0;
}

.profile--container--bottom-half {
  padding: 62px 16px 16px 16px;
}

.profile--name {
  font-weight: bold;
  margin-bottom: 8px;
}

.profile--username {
  float: left;
}

.profile--location {
  float: right;
  text-align: right;
}

.profile--about {
  padding: 8px 0px 0px 0px;
  clear: both;
  margin: 8px 0px;
}

.profile--stats {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.profile--stats li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.profile--stats li a {
  text-decoration: none;
  color: #222;
}

.profile--stats-name {
  display: block;
  font-weight: bold;
}

.profile--stats-number {
  font-weight: bold;
  text-decoration: none;
  color: #e59eb4;
  transition: color 0.3s ease-in-out;
}

.profile--stats-number:hover {
  color: #00c8cd;
}

.editprofile--container {
  background: #ffbacf;
  padding: 24px 16px;
  text-align: center;
}

.editprofile--header {
  margin: 0 auto;
  padding: 30px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.editprofile--form {
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.editprofile--input-container {
  padding: 0px 16px;
}

.editprofile--form label {
  margin: 16px 0;
  padding: 0px 0;
  display: block;
  text-align: center;
}

.editprofile--form label input {
  margin: 0 auto;
  padding: 8px 0px;
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 3px solid #d3d3d3;
  background: #ffffff;
  resize: none;
  font-size: 16px;
  display: block;
  outline: 0;
}
.editprofile--form label input:focus {
  border-bottom-color: #9edfe2;
}

.editprofile--button-container {
  clear: both;
}

.editprofile--form--cancel {
  float: left;
  display: block;
  font-size: 16px;
  width: 45%;
  margin: 16px 0px;
  padding: 8px 16px;
  background: #e59eb4;
  border: 0px solid #222;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.editprofile--form--cancel:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.editprofile--form--save {
  float: right;
  display: block;
  font-size: 16px;
  width: 45%;
  margin: 16px 0px;
  padding: 8px 16px;
  background: #00c8cd;
  border: 0px solid #222;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.editprofile--form--save:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.follow {
  padding: 0px 16px 24px 16px;
  margin: 0;
  background: #ffbacf;
}

.follow--container {
  background: #ffbacf;
  padding: 24px 0px 0px 0px;
  margin: 0;
}

.follow--list {
  list-style: none;
  background: #ffbacf;
  padding: 0;
  margin: 0;
}

.follow--list-item {
  background: #ffffff;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.follow--list-item:last-child {
  margin: 0px;
}

.follow--avatar {
  float: left;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: #222;
  display: block;
  margin-right: 16px;
}

.follow--username {
  color: #00c8cd;
  font-weight: bold;
}

.follow--leftside {
  display: block;
}

.follow--unfollow-button {
  font-size: 11.2px;
  border: none;
  background: none;
  color: #e59eb4;
  font-weight: bold;
  margin: 16px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  float: right;
  padding: 0;
  margin: -16px 0px 0px 0px;
}

.feed--header-container {
  padding: 0px 32px;
  text-align: center;
  background: #ffbacf;
}

.feed--button--everybody {
  float: left;
  display: block;
  font-size: 16px;
  width: 35%;
  margin: 0px 0px 24px 0px;
  padding: 8px 16px;
  background: #00c8cd;
  border: 0px solid #222;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.feed--button--everybody:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.feed--button--following {
  float: right;
  display: block;
  font-size: 16px;
  width: 35%;
  margin: 0px 0px 24px 0px;
  padding: 8px 16px;
  background: #00c8cd;
  border: 0px solid #222;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.feed--button--following:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.clear {
  clear: both;
}

.feed {
  padding: 0px 16px 24px 16px;
  margin: 0;
  background: #ffbacf;
}

.feed--container {
  background: #ffbacf;
  padding: 24px 0px 0px 0px;
  margin: 0;
}

.feed--list {
  list-style: none;
  background: #ffbacf;
  padding: 0;
  margin: 0;
}

.feed--list-item {
  background: #ffffff;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.feed--list-item:last-child {
  margin: 0px;
}

.feed--avatar {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: #222;
  display: block;
  margin-right: 16px;
  position: absolute;
}

.feed--user a {
  text-decoration: none;
}

.feed--user-container {
  padding-left: 52px;
  position: relative;
}

.feed--username {
  font-size: 16px;
  font-weight: bold;
  color: #00c8cd;
  transition: color 0.3s ease-in-out;
}

.feed--username:hover {
  color: #e59eb4;
}

.feed--date {
  color: #777;
  font-size: 12.8px;
}

.feed--message {
  word-wrap: break-word;
  margin: 0;
}

.feed--list-item--actions {
  padding-top: 10px;
  text-align: left;
  list-style: none;
  padding: 8px 0 0 0px;
  margin: 0;
  color: #777;
}

.feed--list-item--actions li {
  display: inline-block;
  padding-right: 10px;
  min-width: 65px;
}

.feed--list-item--actions img {
  width: 20px;
  padding-right: 5px;
}

.feed--list-item--actions span {
  display: inline-block;
}

.feed--delete-button {
  font-size: 11.2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #e59eb4;
  background: none;
  border: none;
  cursor: pointer;
  margin: 16px;
  float: right;
  padding: 0;
  margin: -16px 0px 0px 0px;
  transition: color 0.3s ease-in-out;
}

.feed--delete-button:hover {
  color: #00c8cd;
}

.feed--button-selected {
  background: #e59eb4;
}

.search--container {
  background: #ffbacf;
  padding: 24px 16px;
}

.search {
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.search--header {
  padding: 30px 0px;
  margin: 0px 0px 16px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search--form {
  margin: 0 auto;
  padding: 0;
  width: 94%;
}

.search--input {
  margin: 0 auto;
  padding: 8px 0px;
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 3px solid #d3d3d3;
  background: #ffffff;
  resize: none;
  font-size: 16px;
  display: block;
  outline: 0;
}
.search--input:focus {
  border-bottom-color: #9edfe2;
}

.search--input:focus {
  outline: 0;
}

.search--form--submit-button {
  font-size: 16px;
  width: 100%;
  margin: 16px 0px;
  padding: 8px;
  background: #00c8cd;
  border: 0px solid #e59eb4;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search--form--submit-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search--form--submit-button:focus {
  outline: 0;
}

.searchresults--container {
  background: #ffbacf;
  padding: 0.1px 16px;
  margin: 0;
}

.searchresults {
  margin: 0;
  background: #ffbacf;
  padding: 0px 32px;
}

.search--list {
  list-style: none;
  background: #ffbacf;
  padding: 0;
  margin: 0;
}

.search--list-item {
  text-align: left;
  background: #ffffff;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search--list-item:last-child {
  margin: 0px 0px 24px 0px;
}

.search--list-item a {
  text-decoration: none;
}

.search--avatar {
  float: left;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: #222;
  display: block;
  margin-right: 16px;
}

.search--username {
  color: #00c8cd;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.search--username:hover {
  color: #e59eb4;
}

.login--container {
  background: #ffbacf;
  padding: 24px 16px;
}

.login {
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.login--header {
  padding: 30px 0px;
  margin: 0px 0px 16px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login--conversion-message {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  text-align: center;
  margin: 0px 16px;
}

.login--container--signin-buttons {
  margin: 0 auto;
  padding: 0 16px;
}

.login--signin-button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 16px 0px;
  padding: 8px 0px;
  background: #00c8cd;
  border: 0px solid #e59eb4;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.login--signin-button:link {
  text-decoration: none;
}

.login--signin-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login--signin-button:focus {
  outline: 0;
}

.login--smalltext-create-account {
  color: #777;
  font-size: 12.8px;
  margin: 0;
  padding: 0px 0px 16px 0px;
}

.login--icon {
  height: 20px;
}

.scoop--container {
  background: #ffbacf;
  padding: 24px 16px;
}

.scoop {
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.scoop--header {
  padding: 30px 0px;
  margin: 0px 0px 16px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.scoop--textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  border: none;
  border-bottom: 3px solid #d3d3d3;
  background: #ffffff;
  resize: none;
  font-size: 16px;
}

.scoop--textarea:focus {
  outline: 0;
  border-bottom: 3px solid #9edfe2;
}

.scoop--form {
  margin: 0 auto;
  padding: 0;
  width: 94%;
}

.scoop--form--submit-button {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 16px 0px 16px 0px;
  padding: 8px;
  background: #00c8cd;
  border: 0px solid #e59eb4;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.scoop--form--submit-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scoop--form--submit-button:focus {
  outline: 0;
}

.scoop--characters-remaining {
  color: #777;
}
