body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #200;
  line-height: 22px;
  background: #e59eb4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
}

.column-1 {
  width: 8.33333%;
  display: inline-block;
}

.column-2 {
  width: 16.66667%;
  display: inline-block;
}

.column-3 {
  width: 25%;
  display: inline-block;
}

.column-4 {
  width: 33.33333%;
  display: inline-block;
}

.column-5 {
  width: 41.66667%;
  display: inline-block;
}

.column-6 {
  width: 50%;
  display: inline-block;
}

.column-7 {
  width: 58.33333%;
  display: inline-block;
}

.column-8 {
  width: 66.66667%;
  display: inline-block;
}

.column-9 {
  width: 75%;
  display: inline-block;
}

.column-10 {
  width: 83.33333%;
  display: inline-block;
}

.column-11 {
  width: 91.66667%;
  display: inline-block;
}

.column-12 {
  width: 100%;
  display: inline-block;
}

.navbar {
  background: #00c8cd;
  width: 100%;
  margin: 0;
  padding: 10px 0px 5px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 40px;
  filter: brightness(1.45);
}

.navbar--selected {
  filter: brightness(2);
}

.profile {
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile--background {
  height: 125px;
  background: #9edfe2;
}

.profile--avatar {
  position: absolute;
  margin: -50px 0 0 3%;
  border: solid #ffffff 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #200;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.profile--button--edit-profile {
  font-size: 16px;
  float: right;
  margin: 10px 3% 0px 0px;
  padding: 8px 12px;
  background: #ffffff;
  border: 0px solid #200;
  color: #00c8cd;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.profile--button--edit-profile:focus {
  outline: 0;
}

.profile--container--bottom-half {
  padding: 60px 3% 10px 3%;
  background: #ffffff;
}

.profile--name {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.profile--username {
  font-size: 19.2px;
  line-height: 26.4px;
  float: left;
  width: 50%;
}

.profile--location {
  font-size: 19.2px;
  line-height: 26.4px;
  float: right;
  width: 50%;
  text-align: right;
}

.profile--about {
  padding: 30px 0px 10px 0px;
}

.profile--stats {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.profile--stats li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.profile--stats li a {
  text-decoration: none;
  color: #200;
}

.profile--stats-name {
  font-size: 17.6px;
  line-height: 24.2px;
  display: block;
  font-weight: bold;
}

.profile--stats-number {
  font-weight: bold;
  text-decoration: none;
  color: #e59eb4;
}

.editprofile--container {
  background: #ffbacf;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.editprofile--form {
  margin: 20px 10px;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.editprofile--form label {
  margin: 16px 0;
  padding: 0px 0;
  display: block;
  text-align: center;
}

.editprofile--form label input {
  margin: 0 auto;
  padding: 8px 0px;
  width: 85%;
  height: auto;
  border: none;
  border-bottom: 3px solid #00c8cd;
  background: #ffffff;
  resize: none;
  font-size: 16px;
  display: block;
  outline: 0;
}
.editprofile--form label input:focus {
  box-shadow: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.editprofile--form label input:focus ~ .animated-label {
  top: 0;
  opacity: 1;
  color: #8e44ad;
  font-size: 12px;
}
.editprofile--form label input:focus ~ .animated-label:after {
  visibility: visible;
  width: 100%;
  left: 0;
}

/*
.editprofile--form label input:focus {
  outline: 0;
  color: #000;

    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  
}*/
.editprofile--form--cancel {
  display: inline-block;
  font-size: 16px;
  width: 40%;
  margin: 20px 20px 20px 20px;
  padding: 10px 25px;
  background: #e59eb4;
  border: 0px solid #200;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.editprofile--form--save {
  display: inline-block;
  font-size: 16px;
  width: 40%;
  margin: 20px 20px 20px 20px;
  padding: 10px 25px;
  background: #00c8cd;
  border: 0px solid #200;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.editprofile--header {
  padding: 30px 0px 30px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.feed--container {
  background: #ffbacf;
  padding: 10px;
}

.feed--list {
  list-style: none;
  background: #ffbacf;
  padding: 0;
  margin: 0;
}

.feed--list-item {
  background: #ffffff;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.feed--list-item:nth-child(even) {
  background: #ffffff;
}

.feed--avatar {
  float: left;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #200;
  display: block;
  margin-right: 3%;
  margin-top: 10px;
}

.feed--user {
  font-size: 14.4px;
  line-height: 19.8px;
}

.feed--username {
  font-size: 17.6px;
  line-height: 24.2px;
  font-weight: bold;
  color: #00c8cd;
}

.feed--date {
  color: #666;
}

.feed--message {
  word-wrap: break-word;
}

.feed--list-item--actions {
  padding-top: 10px;
  text-align: left;
  list-style: none;
  padding: 10px 0 0 60px;
  margin: 0;
}

.feed--list-item--actions li {
  display: inline-block;
  padding-right: 10px;
  min-width: 65px;
}

.feed--list-item--actions img {
  width: 20px;
  padding-right: 5px;
}

.feed--list-item--actions span {
  display: inline-block;
}

.feed--delete-button {
  font-size: 12.8px;
  float: none;
  display: block;
  margin: 0;
  padding: 5px 15px;
  background: #ffffff;
  border: 0px solid #200;
  color: #e59eb4;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.search--container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search--input {
  width: 80%;
  margin: 25px auto;
  background-color: #f5f8fa;
  border-radius: 4px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all 0.2s ease-in-out;
}

.search--input:focus {
  outline: none;
  border: 2px solid #00c8cd;
}

.search--container img {
  position: absolute;
  top: 23%;
  z-index: 1;
  width: 18px;
  right: 20%;
}

.searchResults--list li {
  display: inline;
  margin: 0 5px;
  padding: 7px;
  font-size: 13px;
}

.searchResults--outerContainer {
  border: 1px solid #e6e6e6;
  box-shadow: 3px 3px 7px -1px #e8e6e6;
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
}

.searchResults--container {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding: 9px;
  margin: 0 auto;
}

.searchResults--container:hover {
  background-color: #1bf9ff;
}

.searchResults--container .avatar {
  width: 21px;
  border: 1px solid #e8e2e2;
  border-radius: 19px;
  padding: 7px;
}

.searchResults--list .name {
  font-weight: 800;
}

.searchResults--list .name:hover {
  color: #00969a;
}

.searchResults--list .handle {
  color: grey;
}

.scoop--container {
  background: #ffbacf;
  padding: 10px;
}

.scoop {
  background: #ffffff;
  margin: 20px 10px;
  padding: 0;
  text-align: center;
  color: #200;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.scoop--header {
  padding: 30px 0px 30px 0px;
  background: #00c8cd;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scoop--textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  border: none;
  border-bottom: 3px solid #00c8cd;
  background: #ffffff;
  resize: none;
  font-size: 16px;
}

.scoop--textarea:focus {
  outline: 0;
}

.scoop--form {
  margin: 0 auto;
  padding: 0;
  width: 94%;
}

.scoop--form--submit-button {
  font-size: 14px;
  width: 100%;
  margin: 15px 0px 30px 0px;
  padding: 10px;
  background: #00c8cd;
  border: 0px solid #e59eb4;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scoop--form--submit-button:focus {
  outline: 0;
}

.scoop--characters-remaining {
  color: #666;
}

.footer--list {
  background: #e59eb4;
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.footer--list ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer--list li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.footer--list img {
  width: 40px;
}

.footer--list a {
  color: #ffffff;
  text-decoration: none;
}
